<div class="log">
  <h2>Login to play a game:</h2>

  <%= form_tag '/login' do %>

    <%= text_field_tag :email, "", placeholder: "Email" %>
    <p></p>
    <%= password_field_tag :password, "", placeholder: "Password" %>
    <p></p>
    <%= submit_tag "Submit" %>

  <% end %>
</div>
